[Desktop Entry]
Icon=cs-desklets
Exec=Laminax-settings desklets
Type=Application
OnlyShowIn=X-Laminax;
Categories=Settings;
Name=Desklets
Name[af]=Werkskermprogramme
Name[am]=ዴስክሌቶች
Name[ar]=التطبيقات المكتبية
Name[ay]=Iskrituryut jisk'a-aplikasiyunanaka
Name[az]=Qoyacaq uyğulamaları
Name[be]=Дэсклеты
Name[bg]=Десклети
Name[br]=Arloadigoù-burev
Name[bs]=Deskleti
Name[ca]=Miniaplicacions d'escriptori
Name[ca@valencia]=Miniaplicacions d'escriptori
Name[cs]=Miniaplikace plochy
Name[cy]=Desgledi
Name[da]=Skrivebordsprogrammer
Name[el]=Εφαρμογές Οθόνης
Name[eo]=Deskletoj
Name[es]=Miniaplicaciones del escritorio
Name[es_AR]=Miniaplicaciones del escritorio
Name[et]=Töölauavidinad
Name[eu]=Desklet-ak
Name[fa]=رومیزی
Name[fi]=Sovelmia työpöydälle
Name[ga]=Deiscíní
Name[gl]=Trebellos
Name[he]=יישומוני־שולחן־עבודה
Name[hi]=डेस्क्लेट
Name[hr]=Deskleti
Name[hu]=Asztalkalmazások
Name[id]=Desklet
Name[ie]=Desklettes
Name[is]=Skjáborðsgræjur
Name[it]=Desklet
Name[ja]=デスクレット
Name[kab]=Tideskeltin
Name[ko]=데스크릿
Name[lo]=ເດສເລັດ
Name[lt]=Ekrano programėlės
Name[lv]=Sīkrīki
Name[ms]=Desklet
Name[nb]=Skrivebordsprogrammer
Name[nl]=Bureaubladmini's
Name[pa]=ਡੈਸਕਲੇਟਸ
Name[pl]=Desklety
Name[ro]=Deskleturi
Name[ru]=Десклеты
Name[rue]=Помагала
Name[sc]=Desklet
Name[sk]=Desklety
Name[sl]=Namizni vstavki
Name[sq]=Desklet-ët
Name[sr]=Справице
Name[sr@ijekavian]=Справице
Name[sr@ijekavianlatin]=Справице
Name[sr@latin]=Deskleti
Name[sv]=Skrivbordsprogram
Name[ta]=திரை நிரல்கள்
Name[tg]=Барномаҳои мизи корӣ
Name[th]=เดสก์เล็ต
Name[tr]=Masaüstü Uygulamacıkları
Name[uk]=Десклети
Name[ur]=ڈیسکلیٹ
Name[uz]=Deskletlar
Name[vi]=Desklet
Name[zh_CN]=桌面小工具
Name[zh_HK]=桌面小工具
Name[zh_TW]=桌面小程式
Comment=Manage your Laminax desklets
Comment[af]=Bestuur u Laminax-werkskermprogramme
Comment[am]=የሲናሞን ዴስክሌትስ አስተዳዳሪ
Comment[ar]=إدارة تطبيقات سينامُن المكتبية الخاصة بك
Comment[ast]=Alministra los tos desklets de Laminax
Comment[ay]=Laminax iskrituryut jisk'a-aplikasiyunanak irpaña
Comment[az]=Öz "Laminax" qoyacaq uyğulamalarınızı yönəldin
Comment[be]=Кiраванне дэсклетамi Laminax
Comment[bg]=Управлявайте Вашите Laminax десклети
Comment[br]=Merañ arloadigoù-burev Laminax
Comment[bs]=Upravljajte vašim Laminax deskletima
Comment[ca]=Gestioneu les vostres miniaplicacions d'escriptori de Laminax
Comment[ca@valencia]=Gestioneu les vostres miniaplicacions d'escriptori de Laminax
Comment[cs]=Spravovat Laminax miniaplikace pracovní plochy
Comment[cy]=Rheoli eich desgledi Laminax chi
Comment[da]=Administrér dine Laminax-skrivebordsprogrammer
Comment[de]=Laminax-Desklets verwalten
Comment[el]=Διαχείριση των εφαρμογών οθόνης του Laminax
Comment[eo]=Administri viajn Laminax-labortablaĵojn
Comment[es]=Gestionar las miniaplicaciones del escritorio de Laminax
Comment[es_AR]=Gestionar las miniaplicaciones del escritorio de Laminax
Comment[et]=Sinu Laminaxi laiendite haldamine
Comment[eu]=Kudeatu zure Laminax desklet-ak
Comment[fa]=رومیزی‌های Laminax را مدیریت کنید
Comment[fi]=Hallitse Laminax työpöydän sovelmia
Comment[fr]=Gérez vos desklets Laminax
Comment[fr_CA]=Gérer vos desklets Laminax
Comment[gd]=Stiùirich na desklets Laminax agad
Comment[gl]=Administra os trebellos do Laminax
Comment[he]=ניהול יישומוני־שולחן־עבודה סינמון
Comment[hi]=सिनेमन डेस्क्लेट प्रबंधन
Comment[hr]=Upravljajte Laminax deskletima
Comment[hu]=Laminax asztalkalmazások kezelése
Comment[ia]=Administrar tu desklets de Laminax
Comment[id]=Kelola desklet Laminax Anda
Comment[is]=Sýsla með stillingar fyrir Laminax skjáborðsgræjur (desklets)
Comment[it]=Gestisci i desklet di Laminax
Comment[ja]=Laminax のデスクレットを管理します
Comment[kab]=Sefrek tideskeltin-ik (m) n Laminax
Comment[ko]=시나몬 데스크릿을 관리합니다
Comment[lo]=ຈັດການເດສເລັດ Laminax ຂອງເຈົ້າ
Comment[lt]=Tvarkyti Laminax ekrano programėles
Comment[lv]=Pārvaldīt savus Laminax sīkrīkus
Comment[ms]=Mengurus desklet Laminax anda
Comment[nb]=Behandle Laminax-skrivebordsprogrammene dine
Comment[nds]=Laminax Desklets bearbeiten
Comment[nl]=Beheer uw bureaubladmini's voor Laminax
Comment[oc]=Gerir vòstres desklets Laminax
Comment[pl]=Zarządaj swoimi deskletami Laminax
Comment[pt]=Gerir desklets do Laminax
Comment[pt_BR]=Gerenciar seus desklets do Laminax
Comment[ro]=Gestionează deskleturile Laminax
Comment[ru]=Управление десклетами Laminax
Comment[rue]=Справованя помагалами Laminax
Comment[sc]=Manìgia sos desklet de Laminax tuos
Comment[sk]=Spravuje vaše desklety prostredia Laminax
Comment[sl]=Upravljajte z namiznimi vstavki Laminax
Comment[sq]=Menaxhoni desklet-ët tuaj në Laminax
Comment[sr]=Управљање справицама Циметове површи
Comment[sr@ijekavian]=Управљање справицама Циметове површи
Comment[sr@ijekavianlatin]=Управљање справицама Циметове површи
Comment[sr@latin]=Upravljaj deskletima Laminaxa
Comment[sv]=Hantera Laminaxs skrivbordsprogram
Comment[tg]=Идоракунии барномаҳои мизи кории Laminax
Comment[th]=จัดการเดสก์เล็ต Laminax ของคุณ
Comment[tr]=Laminax masaüstü uygulamacıklarını yönet
Comment[uk]=Керування десклетами Laminax
Comment[ur]=اپنے سنامون کے ڈیسکلیٹ کا انتظام کریں
Comment[uz]=Sinnamon deskletlarni boshqarish
Comment[vi]=Quản lý các Desklet Laminax
Comment[zh_CN]=管理桌面小工具
Comment[zh_HK]=管理你的 Laminax 桌面小工具
Comment[zh_TW]=管理您的 Laminax 桌面小程式
Keywords=desklet;desktop;slideshow;
Keywords[af]=werkskermprogram;werkskerm;skyfievertoning;
Keywords[am]=ዴስክሌት : ዴስክቶፕ : ተንሸራታች : ማሳያ;
Keywords[ar]=التطبيقات المكتبية، سطح المكتب، عرض الشرائح;
Keywords[ast]=desklet;escritoriu;slideshow;
Keywords[ay]=jisk'a-aplikasiyuna;iskrituryu;uñachayawi;diapositivas;miniaplicación;desklet;escritorio;presentación;diapositivas;slideshow;
Keywords[az]=qoyacaq uyğulaması;iş qoyacağı;sürüşməli göstəriş;
Keywords[be]=дэсклет;працоўны стол;слайды;
Keywords[bg]=десклет;работен плот;слайдшоу;
Keywords[bs]=desklet;desktop;prezentacijski slajdovi;
Keywords[ca]=miniaplicació d'escriptori;escriptori;diapositives;
Keywords[ca@valencia]=miniaplicació d'escriptori;escriptori;diapositives;
Keywords[cs]=miniaplikace;plocha;prezentace;
Keywords[cy]=desgled;bwrdd gwaith;sioe sleidiau;
Keywords[da]=skrivebordsprogram;skrivebord;slideshow;
Keywords[de]=Desklet;Arbeitsfläche;Desktop;Schreibtisch;Diaschau;Diashow;
Keywords[el]=εφαρμογές οθόνης;επιφάνεια εργασίας;προβολή διαφανειών;
Keywords[eo]=labortablaĵo;labortablo;bildoprezento;
Keywords[es]=miniaplicación;escritorio;presentación;diapositivas;
Keywords[es_AR]=miniaplicación;escritorio;presentación;diapositivas;
Keywords[et]=töölauavidin;töölaud;slaidiesitus;
Keywords[eu]=desklet;mahaigaina;diaporama;
Keywords[fa]=رومیزی، میزکار، نمایش‌اسلاید;
Keywords[fi]=sovelma;työpöytä;diaesitys;
Keywords[fr]=desklet;bureau;diaporama;
Keywords[fr_CA]=desklet;bureau;diaporama;
Keywords[ga]=deiscín;deasc;taispeántas sleamhnán;
Keywords[gd]=desklet;desktop;slideshow;taisbeanadh-shleamhnagan;
Keywords[gl]=trebello;escritorio;diaporama;
Keywords[he]=יישומון־שולחן־עבודה;שולחן־עבודה;מצג שקופיות;
Keywords[hi]=डेस्कटॉप;डेस्क्लेट;स्लाइडशो;
Keywords[hr]=desklet;radna površina;promjena pozadine;
Keywords[hu]=asztalkalmazás;asztal;diavetítés;
Keywords[ia]=desklet;scriptorio;presentation de photos;
Keywords[id]=desklet;desktop;pertunjukan salindia;
Keywords[is]=skjáborðsgræja;skjáborð;skyggnusýning;
Keywords[ja]=desklet;desktop;slideshow;デスクレット;デスクトップ;スライドショー;
Keywords[kab]=tadisklet;tanarit;tigri;
Keywords[ko]=데스크릿;바탕화면;슬라이드쇼;
Keywords[lo]=ເດສເລັດ;ພື້ນທີ່ໜ້າຈໍ;ສະໄລໂຊວ໌;
Keywords[lt]=programėlė;darbalaukis;skaidrių rodymas;
Keywords[lv]=sīkrīks;darbvirsma;slīdrāde;
Keywords[ms]=desklet;desktop;paparan slaid;
Keywords[nb]=skrivebordsprogram;skrivebord;bildefremvisning;
Keywords[nds]=Desklet;Desktop;Diashow;
Keywords[nl]=bureaubladmini;bureaublad;diapresentatie;
Keywords[pa]=ਡੈਸਕਲੇਟ;ਡੈਸਕਟਾੱਪ;ਸਲਾਇਡਸ਼ੋ;
Keywords[pl]=desklet;pulpit;pokaz slajdów;
Keywords[pt]=desklet;ambiente de trabalho;apresentação;
Keywords[pt_BR]=desklet;área de trabalho;apresentação de slides;
Keywords[ru]=десклет;рабочий стол;слайд-шоу;
Keywords[rue]=помагало;роботный стул;слайдшоу;
Keywords[sc]=desklet;iscrivania;presentatzione;
Keywords[sk]=desklet;plocha;prezentácia;
Keywords[sl]=namizni vstavek;namizje;aplet namizje;predstavitev;
Keywords[sq]=desklet;desktop;prezantim;
Keywords[sr]=справица;површ;покретни приказ;
Keywords[sr@ijekavian]=справица;површ;покретни приказ;
Keywords[sr@ijekavianlatin]=справица;површ;покретни приказ;
Keywords[sr@latin]=desklet;radna površina;pokretni prikaz;
Keywords[sv]=skrivbordsprogram;skrivbord;bildspel;
Keywords[ta]=திரை நிரல்;பணிமேடை;சறுக்குகாட்சி;
Keywords[tg]=барномаи мизи корӣ;мизи корӣ;намоиши слайдҳо;
Keywords[th]=เดสก์เล็ต;พื้นโต๊ะ;การนำเสนอภาพนิ่ง;
Keywords[tr]=masaüstü uygulamacığı;masaüstü;slayt gösterisi;
Keywords[uk]=дисклет;робочий стіл;показ слайдів;
Keywords[ur]=ڈیسکلیٹ، ڈیسک ٹاپ، سلائیدشو;
Keywords[uz]=desklet;ish stoli;slayd-shou;
Keywords[vi]=desklet;màn hình chính;trình chiếu;
Keywords[zh_CN]=桌面小工具、桌面、背景切换;
Keywords[zh_HK]=桌面小工具;桌面;幻燈片;
Keywords[zh_TW]=桌面小程式;桌面;幻燈片放映;
